.containerBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 500px;
    background-color: rgba(84, 76, 148, 0.149);
}

.containerBanner img {
    width: 500px;
    border-radius: 20px;
}

.containerText {

    width: 400px;

    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    text-align: left;
}

.containerText h2 {
    color: black;
    font-size: 40px;
}

.containerText p {
    margin-top: 25px;
    color: black;
}